@charset "utf-8";
/* CSS Document */

body {
    margin-top: 0vmax;
}
#texto {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    background-image: url(images/Dise%C3%B1oPSDvs_02.gif);
    letter-spacing: normal;
    word-spacing: normal;
}
